body {
    background-image: url("../img/3-layers.png");
    background-size:cover;
    color: white;
    text-align: center;
}

img {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#first-desc {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    width: 60%;
    font-size: 1.5em;
}

#start {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    width: 60%;
    font-size: 1.5em;
    border-radius: 25px;
    transition: all 0.4s ease;
    background-color:rgba(255, 255, 255, 0.4);
}

#start:hover {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    width: 60%;
    font-size: 1.5em;
    border-radius: 25px;
    transition: all 0.4s ease;
    background-color:rgba(150, 150, 150, 0.6);
}
.rest {
    opacity: 0;
    transition: all 1s ease;
}
.restV {
    opacity: 1;
    transition: all 1s ease;
}