
@font-face {
	font-family: DINAlternateRegular;
	src: url('../fonts/DINAlternateRegular.otf') format('opentype');
}

body {
    background-image: url("../img/3-layers.png");
    background-size:cover;
    color: antiquewhite;
    text-align: center;
    align-content: center;
    vertical-align: middle;
	font-family: 'DINAlternateRegular';
}

body h3 {
    top: 50px;
}
span {
    width: 100%;
}
#the-result {
    margin-top: 50px;
}

#footer {
    bottom: -5;
    width: 118%;
    height: 150px;
    margin-top: 20px;
    background-color: rgba(55, 55, 55, 0.5);
    margin-left: -10%;
}
#footer img {
    margin-top: 50px;
  width:50px;  
}